<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        

        <!-- Importing required CSS files  -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Error: 404</title>
    </head>

    <body class='bg-secondary'>

        <!-- Navigation Bar -->
        <nav class="navbar navbar-light bg-dark">
            <span class="navbar-brand mb-0 h1 text-white">Image Uploader</span>
        </nav>
        <!-- /Navigation Bar -->

        <div class='container mt-5'>
            <div class='row'>
                <h2 class='text-center mx-auto text-white'>404: Page Not Found</h2>
            </div>
            <div class='row mt-3'>
                <a class="btn btn-primary mx-auto" href="/" role="button">Go Back Home</a>
            </div>
            
        </div>
        

    </body>
</html>